.bg {
    background: red;
}

#h1 {
    margin-top: 100px;
}

.contain {
    margin-top: 50px;
}


.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.row {
    margin-top: 5px;
}

.clear {
    width: 470px !important;
    margin: 5px 0px;
}

.custom {
    width: 100px !important;
    margin: 5px 0px;
}

.btn {
    font-size: larger;
}

#inputdefault {
    width: 472px;
    height: 100px;
    font-size: larger;
    margin-bottom: 15px;
}